# Homework of Basic Statistics for Data Science in Python
**Telkomsel Data Science Academy**
<br> Author : Randy Galawana
<br> Email : [randy_galawana1@telkomsel.co.id](mailto:randy_galawana1@telkomsel.co.id)
<br> 9 October 2019

In [25]:
import pandas as pd
import statistics as st

In [83]:
#1. Load googleplaystore_user_reviews.csv file from dataset folder, 
# and assign it as df_review.  
# Fill this gap (___) and uncomment the following line! 
df_review = pd.read_csv('dataset/googleplaystore_user_reviews.csv')
df_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [84]:
#2. How many rows and columns for df_review? 
# Write your code here 
print('Num Rows    : ',len(df_review))
print('Num Columns : ',len(df_review.columns))

Num Rows    :  64295
Num Columns :  5

In [85]:
#3. How many NaN value in dataset for each columns? 
# Write your code here (Hint: isnull and sum)
df_review.isnull().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [86]:
#4. Perform drop all NaN values and assign as new data frame named df_rev_clean
# Write your code here (Hint: dropna)
df_rev_clean = df_review.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

df_rev_clean.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

In [87]:
#5. Upon dropping, how many rows and columns remaining?
# Write your code here
print('Num Rows    : ',len(df_rev_clean))
print('Num Columns : ',len(df_rev_clean.columns))

Num Rows    :  37427
Num Columns :  5

In [88]:
#6. Perform simple random sampling with only 3 sample 
# towards df_rev_clean with random_state=10 without replacement. 
# Write your code here (Hint: sample)
df_rev_clean.sample(n=3, random_state=10, replace=False)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
12028,Badoo - Free Chat & Dating App,Rubbish app.,Neutral,0.0,0.0
35092,Docs To Go™ Free Office Suite,Very lite app..,Positive,0.2,0.3
48816,Free & Premium VPN - FinchVPN,"Nice, works Android 8",Positive,0.6,1.0

In [89]:
# 7. Perform stratified random sampling for each sentiment (Neutral, Positive, and Negative) 
# with the following conditions:
# 10 sample size per strata/group
# random state = 10
# without replacement
# assign as df_sample dataframe 

# Fill up the gap (___) and uncomment the following code
fn = lambda x: x.sample(n=10, random_state=10, replace=False)
df_sample = df_rev_clean.groupby('Sentiment', as_index=False).apply(fn)

In [90]:
#8. What is the mode value of Sentiment from df_rev_clean data frame? 

# Write your code here (Hint: sample)
st.mode(df_rev_clean.Sentiment)

'Positive'

In [91]:
#9. What is the mode value of Sentiment on df_sample data frame? Why error popped up?
#st.mode(df_sample.Sentiment)
print('no unique mode; found 3 equally common values')
print('Karena sample memiliki jumlah n yang sama untuk tiap strata Sentiment, jadi modus/mode tidak ada')

no unique mode; found 3 equally common values
Karena sample memiliki jumlah n yang sama untuk tiap strata Sentiment, jadi modus/mode tidak ada

In [92]:
#10. How many positive, negative, and neutral in Sentiment column of df_rev_clean data frame?

# Fill in the gap (___) and uncomment the following code
df_rev_clean['Sentiment'].value_counts()

Positive    23998
Negative     8271
Neutral      5158
Name: Sentiment, dtype: int64

In [93]:
#11. What is the mean value of sentiment_polarity and Sentiment Subjectivity of 'Angry Birds Classic'? 

# Write your code here
filter = df_rev_clean['App'] == 'Angry Birds Classic'
df_rev_clean[filter].mean()

Sentiment_Polarity       -0.007537
Sentiment_Subjectivity    0.534886
dtype: float64

In [97]:
#12. How many Angry Birds Classic rows were included in df_rev_clean data frame?

# Write your code here
print('Angry Birds Rows : ',len(df_rev_clean[filter]))

Angry Birds Rows :  273

In [96]:
#13. What is the median value of sentiment polarity and Sentiment Subjectivity of 'Candy Crush Saga'?

# Write your code here (Hint: median)
filter2 = df_rev_clean['App'] == 'Candy Crush Saga'
df_rev_clean[filter2].median()

Sentiment_Polarity       -0.011023
Sentiment_Subjectivity    0.481629
dtype: float64

In [105]:
#14. What is the mode value of App in the df_rev_clean? - This apps has highest number of rows in the dataset. 

# Write your code here (Hint: st.mode)
st.mode(df_rev_clean['App'])

'Bowmasters'

In [107]:
#15. What is the correlation value between Sentiment Polarity and Sentiment Subjectivity 
# using spearman, pearson, and kendall

# Fill in the gap and change the method using spearman, pearson, and kendall!
print('Spearman Correlation \n')
df_rev_clean.filter(like="Sentiment_").corr(method='spearman')

Spearman Correlation

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.351522
Sentiment_Subjectivity            0.351522                1.000000

In [108]:
print('Pearson Correlation \n')
df_rev_clean.filter(like="Sentiment_").corr(method='pearson')

Pearson Correlation

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.261587
Sentiment_Subjectivity            0.261587                1.000000

In [109]:
print('Kendall Correlation \n')
df_rev_clean.filter(like="Sentiment_").corr(method='kendall')

Kendall Correlation

                        Sentiment_Polarity  Sentiment_Subjectivity
Sentiment_Polarity                1.000000                0.259973
Sentiment_Subjectivity            0.259973                1.000000