In [75]:
import numpy as np
import pandas as pd

url='https://raw.githubusercontent.com/scalabretta/GroupProject--IMDB/master/Dataset/IMDB-database-update.csv'
df1 = pd.read_csv(url, encoding = 'latin1')

print('rows and cols of data')
shape = df1.shape
print(shape)
print('\n')
print('top net movies with net_USD in 2015')
data1 = df1[['movie_title','title_year','net_USD']]
sort_by_net = data1.sort_values('net_USD',ascending=False)
net_2015 = sort_by_net['title_year'] == 2015

print(sort_by_net[net_2015].head(3))
print('\n')
print ('What are the top 3 movies with highest gross profit in 2016?')
data2 = df1[['movie_title','title_year','gross_USD']]
sort_by_gross = data2.sort_values('gross_USD',ascending=False)
gross_2016 = sort_by_gross['title_year'] == 2016

print(sort_by_gross[gross_2016].head(3))
print('\n')
print('How many unique non-english movies are in the dataset?')

data3 = df1[['movie_title','language']]
non_english = data3[data3['language'] != 'English']

print(non_english.movie_title.nunique())
print('\n')

print('What is top language in the dataset aside English (based on number of movies)?')
data4 = non_english.language.value_counts()

print(data4.head(1))
print('\n')

print('The following countries are listed as top 3 countries with the highest nett profit')
data5 = df1[['country','net_USD']]
country_profit = df1.groupby(['country'])['net_USD'].agg('sum').reset_index()
print(country_profit.sort_values('net_USD',ascending=False).head(3))
print('\n')

print('What are the average budget of all movies in dataset in 2015?')
data6 = df1[['movie_title','title_year','budget_USD']]
movie_budget_2015 = data6[data6['title_year'] == 2015]

print(movie_budget_2015.budget_USD.mean())
print('\n')

print('What are the average budget of all movies in dataset in 2016?')
movie_budget_2016 = data6[data6['title_year'] == 2016]

print(movie_budget_2016.budget_USD.mean())
print('\n')

print('What movie that resulted highest nett profit of all dataset times?')
print(sort_by_net.head(1))

rows and cols of data
(3781, 36)


top net movies with net_USD in 2015
                  movie_title  title_year    net_USD
14             Jurassic World        2015  502177271
256                   Minions        2015  262029560
3384  Avengers: Age of Ultron        2015  208991599


What are the top 3 movies with highest gross profit in 2016?
                    movie_title  title_year  gross_USD
12   Captain America: Civil War        2016  407197282
355                    Deadpool        2016  363024263
694             The Jungle Book        2016  362645141


How many unique non-english movies are in the dataset?
152


What is top language in the dataset aside English (based on number of movies)?
French    33
Name: language, dtype: int64


The following countries are listed as top 3 countries with the highest nett profit
      country      net_USD
44        USA  52003933174
43         UK   1531614524
3   Australia    252571616


What are the average budget of all movies in dataset in 2015?
55471931.81818182


What are the average budget of all movies in dataset in 2016?
69225757.57575758


What movie that resulted highest nett profit of all dataset times?
  movie_title  title_year    net_USD
0      Avatar        2009  523505847